$color: white;

@mixin footer_icons($fontSize, $color) {
    font-size: $fontSize;
    color: $color;
}

.footeer {
    background-color: #83C5BE;
    color: $color;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;

    &__fa-instagram {
        @include footer_icons(3ren, $color)
    }

    &__fa-facebook {
        @include footer_icons(3ren, $color)
    }
}