.container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  align-items: center;
  max-width: 100%;
  text-align: center;
  font-family: arial;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "section-1 section-1 section-2 section-2"
    "section-3 section-3 section-4 section-4"
    "section-5 section-5 section-6 section-6";

  &.section-1 {
    grid-area: section-1;
  }

  &.section-2 {
    grid-area: section-2;
  }

  &.section-3 {
    grid-area: section-3;
  }

  &.section-4 {
    grid-area: section-4;
  }

  &.section-5 {
    grid-area: section-5;
  }

  &.section-6 {
    grid-area: section-6;
  }


}


.price {
  color: grey;
  font-size: 20px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.container {
  justify-self: initial;
  align-self: initial;
  width: 100rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}